@keyframes zoomin {
  0% {
    opacity: 0;
    transform: translateY(-50%) translateZ(-180em);
  }
  
  100% {
    opacity: 1;
    transform: translateY(-50%) translateZ(0);
  }
}

@keyframes stepup {
  0% {
    opacity: 0;
    transform: translateZ(-1000px);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

html {
  height: 100%;
}

body {
  background: linear-gradient(235.73deg, #FFB801 6.37%, #FF4D00 92.34%);
  color: #fff;
  font-family: 'Aldrich', sans-serif;
  height: 100%;
  margin: 0;
  perspective: 1000px;
}

a {
  color: #fff;
}

img {
    border: none;
}

.header-container {
  animation-duration: 3s;
  animation-name: zoomin;
  animation-timing-function: cubic-bezier(.72,0,0,1);
  left: 50%;
  margin-left: -110px;
  position: absolute;
  top: calc(50% - 60px);
  transform: translateY(-50%);
  text-align: center;
  text-shadow: 0px 0px 6px #FFE600;
  width: 220px;
}


.header {
  font-family: 'Rock Salt', cursive;
  font-size: 64px;
  font-weight: normal;
  line-height: 0.8;
  margin-left: -25px;
  perspective: 1000px;
  position: relative;
  transform: rotate(-3.93deg);
  transform-style: preserve-3d;
}

.header span {
  animation-duration: 0.9s;
  animation-name: stepup;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(.72,0,0,1);
  left: 90px;
  margin-top: -90px;
  position: absolute;
  transform: translateZ(0);
}

.header span:first-child {
  left: 45px;
  animation-duration: 0.8s;
  animation-delay: 1.12s;
}

.header span:last-child {
  left: 143px;
  animation-duration: 1s;
  animation-delay: 0.9s;
}

.header span:last-child::after {
  content: '.';
  font-size: 30px;
  right: -35px;
  line-height: 2.1;
  position: absolute;
}

.byline {
  font-size: 10px;
  letter-spacing: 0.12em;
}

.byline span {
  margin: 0 8px;
}

.accounts {
  font-size: 12px;
  letter-spacing: 0.52em;
}

.hidden {
  font-size: 0px;
  letter-spacing: 0;
  visibility: hidden;
}

aside {
  position: absolute;
  top: 150px;
}

.featured-project {
  position: absolute;
  left: 0;
  margin-left: -20px;
  animation-name: fadeIn;
  animation-delay: 3.5s;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.seattle-beer {
  width: 250px;
}

.beerforge {
  top: 50px;
  margin-left: -15px;
  width: 220px;
  animation-delay: 4.5s;
}

.upshot {
  top: 100px;
  width: 260px;
  animation-delay: 5s;
}